.env
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
*.egg-info/
.DS_Store
.mypy_cache/
.pytest_cache/
.vscode/
.idea/
*.zip
*.tar.gz
*.egg
*.bak
*.swp
*.swo
*.orig
*.tmp
coverage*
htmlcov/
dist/
build/
.eggs/
.envrc
node_modules/
# End of Python .gitignore